// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  @include adaptiveValue("gap", 20, 15);
}
// Спойлер
.spollers__item {
  font-size: toRem(20);
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: pointer;
  text-align: left;
  border-radius: 12px;
  background-color: #e8edf3;
  padding-top: toRem(20);
  padding-bottom: toRem(20);
  @include adaptiveValue("padding-left", 30, 20);
  @include adaptiveValue("padding-right", 50, 40);

  font-weight: 500;
  @include adaptiveValue("font-size", 24, 20);
  line-height: 120%;
  color: #242424;

  position: relative;
  list-style: none;
  &::marker {
  }

  ._spoller-init & {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 2px;
      top: toRem(30);
      @include adaptiveValue("right", 20, 10);
      background-color: #242424;
      transition: transform 0.3s ease 0s;
    }
    &::before {
    }
    &::after {
      transform: rotate(90deg);
    }

    &._spoller-active {
      &::after {
        transform: rotate(0);
      }
    }
  }
}
// }
// Контент спойлера
.spollers__body {
  padding: toRem(20);
  border-radius: toRem(12);
  background-color: #e8edf3;
  margin-top: toRem(10);

  font-weight: 400;
  @include adaptiveValue("font-size", 20, 18);
  line-height: 120%;
  color: #242424;
}

//========================================================================================================================================================

.spollers-lite {
  &__item {
    border-bottom: 1px solid #fff;

    &:first-child {
      border-top: 1px solid #fff;
    }
  }

  &__title {
    cursor: pointer;
    position: relative;
    text-align: start;
    width: 100%;
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 22);
    line-height: 120%;
    color: #fff;
    padding: toRem(16) 0;

    ._spoller-init & {
      &::before {
        content: "\e900";
        @extend %ic;
        position: absolute;
        top: toRem(25);
        right: 0;
        color: #fff;
        transition: transform 0.3s ease 0s;
        transform: rotate(0);
        font-size: toRem(13);
      }

      &._spoller-active {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__body {
    font-weight: 400;
    font-size: toRem(16);
    line-height: 140%;
    color: #fff;
    padding-bottom: toRem(24);
  }
}
