.checkbox {
  position: relative;

  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus-visible + .checkbox__label:before {
      box-shadow: 0 0 5px #000;
    }
    &:checked + .checkbox__label:before {
      color: #fff;
    }
  }
  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    gap: 10px;
    &:before {
      content: "\e901";
      @extend %ic;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 2px;
      color: transparent;
      font-size: toRem(9);
    }
  }
  // .checkbox__text
  &__text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    align-self: center;

    a {
      text-decoration: underline;
    }
  }
}
