//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;

  height: 50px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;

  &._form-focus {
  }
  &._form-error {
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    border-color: #fff;
    color: #fff;
    outline: none;
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
